* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  background-color: rgb(42, 44, 42);
  width: 100%;
  height: 100px;
  display: flex;
}
.cabecera .logo {
  width: 30%;
  padding-left: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.cabecera .logo img {
  width: 40%;
  border-radius: 50px;
}
.cabecera .navegacion {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 100px;
}
.cabecera .link {
  color: antiquewhite;
  padding: 50px 30px;
  text-decoration: none;
  font-size: 16px;
}
.cabecera .link:hover {
  background-color: rgb(140, 228, 128);
  color: rgb(26, 25, 24);
}

main .contenedor-1 {
  width: 100%;
  height: 80vh;
  background-image: url(../assets/img/descarga\ \(16\).jpg);
  background-position: center;
  margin-bottom: 0px;
}
main .banner {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: start;
  align-items: center;
}
main .banner_texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  background-color: rgb(42, 44, 42);
  color: antiquewhite;
}
main .banner_texto h1 {
  font-size: 100px;
}
main .banner_texto p {
  font-size: 16px;
  margin: 20px 0 30px 0;
}
main .banner_texto a {
  background-color: rgb(42, 44, 42);
  width: 50%;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-size: 20px;
  border-radius: 40px;
  color: antiquewhite;
}
main .banner_texto a:hover {
  background-color: rgb(140, 228, 128);
  color: rgb(26, 25, 24);
}
main .contenedor-2 {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/descarga\ \(15\).jpg);
}
main .text {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .text h2 {
  font-size: 36px;
}
main .text p {
  margin: 50px;
  font-size: 16px;
}
main .fotos {
  background-color: rgb(40, 49, 49);
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
main .fotos_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .fotos_img img {
  border-radius: 10px;
  border: 5px solid rgb(17, 17, 20);
  height: 150px;
  width: 200px;
}
main .fotos_img h3 {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: azure;
}
main .contenedor-3 {
  background-color: rgb(42, 44, 42);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  */
}
main .contenedor-3_texto {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}
main .contenedor-3_data {
  width: 65%;
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .data {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid white 6px;
  color: antiquewhite;
}
main .contenedor-4 {
  background-color: rgb(42, 44, 42);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .mapa {
  width: 100%;
  height: 90vh;
}
main iframe {
  width: 100%;
  height: 80vh;
}
main .formulario {
  position: absolute;
  background-color: rgb(38, 38, 46);
  width: 40%;
  padding: 15px 15px;
  border-radius: 5px;
  color: antiquewhite;
}
main .formulario-titulo {
  font-size: 25px;
  margin: 25px auto;
  text-align: center;
}
main .form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
main .item-1, main .item-2 {
  width: 95%;
  height: 45px;
  margin: 7px auto;
  outline: none;
}
main .item-3 {
  width: 95%;
  height: 45px;
  margin: 7px auto;
  grid-column: 0.3333333333;
  outline: none;
}
main .textarea {
  width: 98%;
  height: 100px;
  margin: 7px auto;
  grid-column: 0.3333333333;
  outline: none;
}
main .submit {
  width: 30%;
  height: 100px;
  margin: 7px auto;
  grid-column: 0.3333333333;
  outline: none;
}

main .text1 {
  background-color: rgb(42, 44, 42);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos-productos {
  background-color: rgb(40, 49, 49);
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
main .fotos_imge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .fotos_imge img {
  border-radius: 15px;
  border: 5px solid rgb(17, 17, 20);
  height: 100%;
  width: 150px;
}
main .fotos_imge h3 {
  margin: 10px 0;
  font-size: 20px;
  text-align: end;
  color: azure;
}

main .b1 {
  width: 70%;
  background-color: rgb(70, 72, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos_b1 {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos_buzos {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos_buzos img {
  border-radius: 15px;
  border: 5px solid rgb(17, 17, 20);
  height: 100%;
  width: 150px;
}
main .fotos_buzos p {
  background-color: rgb(82, 78, 74);
  width: 50%;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  border-radius: 40px;
}
main .fotos_buzos a {
  color: rgb(228, 240, 250);
  text-decoration: none;
}
main .fotos_buzos a:hover {
  background-color: rgb(140, 228, 128);
  color: rgb(26, 25, 24);
}

main .r1 {
  width: 70%;
  background-color: rgb(70, 72, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos_r1 {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos_reme {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
main .fotos_reme img {
  border-radius: 15px;
  border: 5px solid rgb(17, 17, 20);
  height: 100%;
  width: 150px;
}
main .fotos_reme p {
  background-color: rgb(82, 78, 74);
  width: 50%;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  border-radius: 40px;
}
main .fotos_reme a {
  color: rgb(228, 240, 250);
  text-decoration: none;
}
main .fotos_reme a:hover {
  background-color: rgb(140, 228, 128);
  color: rgb(26, 25, 24);
}

.z1 {
  width: 70%;
  background-color: rgb(70, 72, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

.fotos_z1 {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

.fotos_zap {
  background-color: rgb(63, 70, 77);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

.fotos_zap img {
  border-radius: 15px;
  border: 5px solid rgb(17, 17, 20);
  height: 100%;
  width: 150px;
}

.fotos_zap p {
  background-color: rgb(82, 78, 74);
  width: 50%;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  border-radius: 40px;
}

.fotos_zap a {
  color: rgb(228, 240, 250);
  text-decoration: none;
}

.fotos_zap p:hover {
  background-color: rgb(140, 228, 128);
  color: rgb(26, 25, 24);
}

main .nos {
  width: 100%;
  height: 80vh;
  background-image: url(../assets/img/fondonos.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: antiquewhite;
}
main .nos1_img {
  width: 35%;
}
main .nos1_img img {
  border-radius: 15px;
  border: 5px solid rgb(17, 17, 20);
  height: 100%;
  width: 250px;
}
main .nos_text {
  width: 35%;
  background-color: black;
}
main .nos_text h2 {
  font-size: 36px;
  text-align: center;
}
main .nos_text p {
  font-size: 16px;
  margin: 40px 0;
  text-align: center;
}
main .rs1 {
  text-align: center;
}

footer {
  background-color: rgb(42, 44, 42);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
footer .footer-text {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .box1 {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}
footer .box2, footer .box3, footer .box4 {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 55px;
}
footer .box1 h3, footer .box2 h3, footer .box3 h3, footer .box4 h3 {
  font-size: 28px;
  margin: 25px 0;
}
footer .box1 p {
  font-size: 20px;
}
footer .box2 a, footer .box3 a, footer .box4 a {
  text-decoration: none;
  color: antiquewhite;
  margin: 5px 0;
  font-size: 20px;
}
footer .rs {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 25px 0;
}
footer .rs img {
  object-fit: cover;
  height: 90%;
  margin-right: 15px;
}
footer .footer-pie {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(58, 57, 55);
}

/*orden decreciente */
@media (min-width: 768px) and (max-width: 1020px) {
  header, footer {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  header, footer {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
